.root{
    -fx-background-color: rgba(10, 10, 10, 1);
}

.table-view {
   -fx-background-color: transparent;
   -fx-border-color: rgba(245, 245, 245, 1);
}

.table-view:focused {
    -fx-background-color: transparent;
}

.table-view .column-header-background {
    -fx-background-color: transparent;
}

.table-view .column-header-background .label {
    -fx-background-color: transparent;
    -fx-text-fill: whitesmoke;
    -fx-font-size: 20;
}

.table-view .column-header {
    -fx-background-color: transparent;
}



.table-view .filler {
    -fx-background-color: transparent;
}


.table-view .table-cell {
    -fx-text-fill: whitesmoke;
    -fx-font-size: 15;
}

.table-row-cell {
    -fx-background-color: -fx-table-cell-border-color, #616161;
    -fx-background-insets: 0, 0 0 1 0;
    -fx-padding: 0.0em; /* 0 */
}

.table-row-cell:odd {
    -fx-background-color: -fx-table-cell-border-color, #424242;
    -fx-background-insets: 0, 0 0 1 0;
    -fx-padding: 0.0em; /* 0 */  
}

.table-row-cell:selected {
    -fx-background-color: #005797;
    -fx-background-insets: 0;
    -fx-background-radius: 1;
}